.main{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
}

.test{
    width: 800px;
    height: 500px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
  }
  
#content {
display: flex;

justify-content: space-around;
flex-flow: row wrap;
align-items: stretch;
}

#content.small {
flex-grow: 1;
border-radius: var(--rounded-btn, 0.5rem); border: 1px solid var(--fallback-bc,oklch(var(--bc)/0.2)); 
background-color: white;
}

.middle{
    flex-grow: 1;
    border-radius: var(--rounded-btn, 0.5rem); 
    border: 1px solid var(--fallback-bc,oklch(var(--bc)/0.2));
    background-color: white;
    padding: 0px 0px 0px 0px;
}

.middle2{
    flex-grow: 1;
    border-radius: var(--rounded-btn, 0.5rem); 
    border: 0px solid var(--fallback-bc,oklch(var(--bc)/0.2));
    background-color: white;
    padding: 0px 0px 0px 0px;
}

.h-center {
    float: center;
}

.h-right {
    float: right;
}

iframe {
min-height: 3rem;
flex-shrink: 1;
padding-left: 1rem;
padding-right: 1rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
font-size: 0.875rem;
line-height: 1.25rem;
line-height: 2;
border-radius: var(--rounded-btn, 0.5rem);
border-width: 1px;
border-color: transparent;
}

